<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>  &copy; @DateTime.Now.Year - Fitness AI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->