<form asp-area="Identity" asp-page="/Account/Logout" class="form-inline d-sm-inline-block" asp-route-returnUrl="/">
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-solid fa-right-from-bracket pe-2"></i>Wyloguj
    </button>
</form>

