@using FitnessAI.WebUI.Components
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Strona Główna";
}

<vc:main-carousel priority="2"/>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="main-description p-5">
                Z przyjemnością zapraszamy Cię do Fitness AI, siłowni, która zmienia oblicze tradycyjnych treningów, wprowadzając innowacyjne podejście do kształtowania ciała i ducha. Nasza siłownia, założona w duchu pasji do zdrowego stylu życia i technologicznych nowinek, oferuje nie tylko zaawansowane sprzęty do ćwiczeń, ale również spersonalizowane programy treningowe, które dostosowują się do indywidualnych potrzeb każdego z naszych klientów. Od momentu powstania, Fitness AI zrewolucjonizowało sposób, w jaki ludzie podchodzą do ćwiczeń, łącząc naukę i technologię, aby zapewnić najlepsze rezultaty.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mt-5 secondary-description">

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-gym.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Siłownia</h4>
                    <p class="card-text">
                        Wyposażona w najnowocześniejszy sprzęt, nasza siłownia oferuje idealne warunki do pracy nad siłą i wytrzymałością w komfortowym i motywującym otoczeniu.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-fitness.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Zajęcia Fitness</h4>
                    <p class="card-text">
                        Różnorodność zajęć fitness pozwala znaleźć coś dla siebie każdemu, niezależnie od poziomu zaawansowania, promując zdrowy i aktywny tryb życia.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-crossfit.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Crossfit</h4>
                    <p class="card-text">
                        Nasze intensywne zajęcia crossfit łączą siłę, kondycję i gimnastykę, oferując kompleksowy trening ciała, który wyzwala z każdego maksimum potencjału.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-massage.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Masaże</h4>
                    <p class="card-text">
                        Profesjonalne masaże w naszym centrum to idealny sposób na regenerację mięśni i odprężenie po intensywnym treningu.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-pool.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Basen</h4>
                    <p class="card-text">
                         Nasz basen oferuje zarówno możliwość relaksu, jak i intensywnego treningu pływackiego, w przyjemnej, odświeżającej atmosferze.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/card-trainer.png" class="card-img-top" alt="card-gym">
                <div class="card-body">
                    <h4 class="card-title">Opieka Trenera Personalnego</h4>
                    <p class="card-text">
                        Indywidualne sesje z trenerem personalnym to gwarancja osiągnięcia celów treningowych dzięki spersonalizowanemu planowi i motywacji na każdym kroku.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <figure class="text-center p-5">
                <blockquote class="blockquote">
                    <p>
                        Od kiedy dołączyłem do Fitness AI, moje życie zmieniło się nie do poznania. Profesjonalne podejście trenerów i indywidualnie dostosowane programy treningowe sprawiły, że w końcu osiągnąłem swoje cele fitnessowe. Niesamowite jest to, jak technologia może pomóc w monitorowaniu postępów i motywować do dalszych wysiłków. Atmosfera w siłowni jest zawsze pozytywna i motywująca, co sprawia, że z niecierpliwością czekam na każdy kolejny trening. Polecam Fitness AI każdemu, kto szuka miejsca, gdzie naprawdę można się rozwijać i osiągać zamierzone cele zdrowotne i kondycyjne.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer mt-3 secondary-description">
                    Znana osoba w <cite title="Świat Zdrowia">Świat Zdrowia</cite>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">

        <div class="col">
            <div class="card border-0 m-5">
                <div class="card-body text-center secondary-description">
                    <h2 class="card-title">Pojedyńcza Wejściówka</h2>
                    <p class="card-text m-4">
                        Możesz korzystać ze wszystkich usług przez 24 godziny. W skład pakietu wchodzi:
                    </p>
                    <ul class="no-decoration">
                        <li>✅ Siłownia</li>
                        <li>✅ Basen</li>
                        <li>✅ Sauna</li>
                        <li>✅ Masaż</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg mt-2">
                        <i class="fas fa-solid fa-cart-shopping"></i>Kup Wejściówkę
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <div class="card-body text-center secondary-description">
                    <h2 class="card-title">Miesięczny Karnet</h2>
                    <p class="card-text m-4">
                        Miesięczny dostęp do wszystkich usług. W skład pakietu wchodzi:
                    </p>
                    <ul class="no-decoration">
                        <li>✅ Siłownia</li>
                        <li>✅ Basen</li>
                        <li>✅ Sauna</li>
                        <li>✅ Masaż</li>

                    </ul>
                    <a href="#" class="btn btn-primary btn-lg mt-2">
                        <i class="fas fa-solid fa-cart-shopping me-2"></i>Kup Karnet
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <figure class="text-center p-5">
                <blockquote class="blockquote">
                    <p>
                        Dołączyłem do Fitness AI kilka miesięcy temu i muszę przyznać, że to najlepsza decyzja, jaką mogłem podjąć dla mojego zdrowia i samopoczucia. Trenerzy są niezwykle kompetentni i zawsze gotowi pomóc, dostosowując treningi do moich indywidualnych potrzeb. Sprzęt jest nowoczesny i zawsze w doskonałym stanie, co sprawia, że ćwiczenia są nie tylko efektywne, ale i przyjemne. Zauważyłem znaczące poprawy w mojej kondycji i sylwetce, czego nigdy bym nie osiągnął ćwicząc samodzielnie. Polecam Fitness AI każdemu, kto szuka profesjonalnej siłowni z prawdziwie osobistym podejściem.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer mt-3 secondary-description">
                    Zadowolony klient <cite title="Adam">Adam</cite>
                </figcaption>
            </figure>
        </div>
    </div>
</div>