@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Polityka Prywatności";
}

<div class="container">
    <div class="pt-3 pb-5">
        <h1>@ViewBag.Title</h1>

        <h3 class="mt-3">1. Wprowadzenie</h3>
        <p>Celem niniejszej Polityki Prywatności jest informowanie użytkowników o sposobach zbierania, przetwarzania i wykorzystywania danych osobowych przez <b>Fitness AI Club</b>. Szanujemy prywatność naszych klientów i zapewniamy, że dane są przetwarzane zgodnie z obowiązującymi przepisami, w tym z Rozporządzeniem Ogólnym o Ochronie Danych <b>(RODO)</b>.</p>
        <p>Przetwarzanie danych odbywa się w sposób transparentny, a informacje są przechowywane z odpowiednimi środkami bezpieczeństwa. Niniejsza polityka ma za zadanie również poinformować użytkowników o ich prawach związanych z przetwarzaniem danych osobowych.</p>

        <h3>2. Informacje ogólne</h3>
        <p>Operatorem serwisu internetowego <b>Fitness AI Club</b> oraz Administratorem danych osobowych jest firma <b>Fitness AI Club</b> z siedzibą w Warszawie. Nasza działalność polega na świadczeniu usług związanych z fitness oraz zdrowym stylem życia, wykorzystując do tego nowoczesne technologie, w tym sztuczną inteligencję.</p>
        <p>Jesteśmy zobowiązani do ochrony prywatności naszych klientów i użytkowników strony internetowej. Wszelkie dane osobowe są przetwarzane zgodnie z aktualnymi przepisami prawnymi, w szczególności z <b>RODO</b>.</p>

        <h3>3. Dane osobowe</h3>
        <h4>3.1 Zbieranie danych</h4>
        <p>Zbieramy dane osobowe, takie jak imię, nazwisko, adres e-mail, informacje dotyczące aktywności fizycznej, które są podawane dobrowolnie przez użytkowników podczas rejestracji w serwisie, wypełniania formularzy kontaktowych lub zapisywania się na treningi i inne usługi oferowane przez <b>Fitness AI Club</b>.</p>
        <p>Zbieranie tych danych jest niezbędne do świadczenia naszych usług oraz do kontaktowania się z klientami w sprawach związanych z ich kontami lub usługami.</p>

        <h4>3.2 Cel przetwarzania</h4>
        <p>Dane osobowe są przetwarzane w celu realizacji umowy o świadczenie usług fitness, w tym dostosowania treningów i porad do indywidualnych potrzeb klientów. Ponadto, dane są wykorzystywane w celach marketingowych, w tym do informowania o nowych ofertach, promocjach oraz innych działaniach marketingowych <b>Fitness AI Club</b>.</p>
        <p>Dane mogą być również wykorzystywane do celów analitycznych i statystycznych, co pozwala na doskonalenie naszych usług i oferty.</p>

        <h4>3.3 Prawa użytkowników</h4>
        <p>Użytkownicy mają prawo do dostępu do swoich danych, ich sprostowania, usunięcia (prawo do bycia zapomnianym), ograniczenia przetwarzania oraz przenoszenia danych. Ponadto, użytkownik może wyrazić sprzeciw wobec przetwarzania jego danych w określonych sytuacjach, a także ma prawo do cofnięcia zgody na przetwarzanie danych w dowolnym momencie.</p>
        <p>W celu realizacji tych praw, prosimy o kontakt za pośrednictwem adresu e-mail podanego w sekcji Kontakt. Każde żądanie zostanie rozpatrzone zgodnie z obowiązującymi przepisami prawnymi.</p>

        <h3>4. Cookies</h3>
        <p>Strona internetowa <b>Fitness AI Club</b> korzysta z cookies (ciasteczek), które są małymi plikami tekstowymi, zapisywanymi na urządzeniu użytkownika podczas korzystania ze strony. Cookies służą do poprawy funkcjonowania naszej strony, ułatwienia nawigacji oraz dostosowania zawartości do preferencji użytkownika.</p>
        <p>Cookies wykorzystujemy również do analizy ruchu na stronie, co pomaga w optymalizacji strony i dostosowaniu oferty do potrzeb użytkowników. Użytkownik może zarządzać ustawieniami cookies poprzez zmianę ustawień przeglądarki internetowej.</p>

        <h3>5. Zabezpieczenia danych</h3>
        <p>W <b>Fitness AI Club</b> przykładamy wielką wagę do bezpieczeństwa danych osobowych naszych klientów. Stosujemy najnowocześniejsze środki techniczne, takie jak szyfrowanie danych i zabezpieczenia firewall, aby chronić dane przed nieautoryzowanym dostępem, zmianą, ujawnieniem lub zniszczeniem. Nasze procedury bezpieczeństwa są regularnie przeglądane i aktualizowane, aby zapewnić najlepszą możliwą ochronę.</p>
        <p>Pracownicy <b>Fitness AI Club</b> mają dostęp do danych osobowych tylko wtedy, gdy jest to niezbędne do wykonania swoich obowiązków zawodowych i są zobowiązani do zachowania tych danych w poufności.</p>

        <h3>6. Zmiany w polityce prywatności</h3>
        <p>Polityka prywatności <b>Fitness AI Club</b> może ulec zmianie, na przykład w wyniku rozwoju naszych usług, zmian technologicznych, zmian w prawie dotyczącym ochrony danych osobowych lub w wyniku feedbacku od naszych użytkowników. Każda istotna zmiana w sposobie, w jaki wykorzystujemy dane osobowe naszych użytkowników, będzie komunikowana za pośrednictwem naszej strony internetowej oraz, w odpowiednich przypadkach, poprzez bezpośredni kontakt z użytkownikami.</p>
        <p>Zachęcamy użytkowników do regularnego odwiedzania naszej strony w celu zapoznania się z aktualną polityką prywatności.</p>

        <h3>7. Kontakt</h3>
        <p>Wszelkie pytania, komentarze oraz prośby dotyczące niniejszej polityki prywatności są mile widziane. Prosimy o kontaktowanie się z nami w tej sprawie poprzez adres e-mail <b>rodo@fitnessaiclub.pl</b> lub tradycyjną pocztą na adres naszej siedziby. Jesteśmy otwarci na sugestie i gotowi odpowiedzieć na wszelkie pytania dotyczące przetwarzania i ochrony danych osobowych.</p>
        <p>W przypadku, gdy użytkownik uważa, że jego dane nie są przetwarzane zgodnie z prawem, ma on również prawo do wniesienia skargi do odpowiedniego organu nadzorczego.</p>
    </div>
</div>