<!-- Logout Modal -->
<div class="modal fade" id="deleteWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="deleteWorkoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWorkoutModalLabel">Czy chcesz usunąć ten trening?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form
                    asp-controller="Workout"
                    asp-action="DeleteWorkoutTitle"
                    method="post"
                    id="deleteWorkoutTitle">
                    <input type="text" id="workoutDeleteTitle" class="w-100" readonly>
                    <input type="hidden" id="workoutDeleteId" name="workoutId">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    <i class="fas fa-solid fa-rectangle-xmark pe-2"></i>Anuluj
                </button>
                <button form="deleteWorkoutTitle" type="submit" class="btn btn-primary">
                    <i class="fas fa-solid fa-floppy-disk pe-2"></i>Usuń
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Logout Modal -->
